* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
#root {
 /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;*/
  height: 100vh;
  width: 100vw;
}
.App {

}

.row {
  display: flex;

}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  padding: 0px;
  margin: 0px;
  text-align: center;
  vertical-align: middle;

  height: 40px;
  width: 40px;
  background-color: #C0C0C0;
  border: 1.5px solid;
  border-top-color: #ffffff;
  border-right-color: #7B7B7B;
  border-bottom-color: #7B7B7B;
  border-left-color: #ffffff;
}

/*.Cell.revealed {
  background: white;

}*/


body {
  background-color: #0D8584;
}

#board {
  background-color: lightgray;
}

.revealed {
  font-family: "Press Start";
  background-color: #C0C0C0;
  font-size: larger;
  text-align: center;
  border: 0.5px solid lightgray;}

.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: green;
}



.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  height: 5rem;
  width: 32rem;
  border-radius: 0.5rem;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.start-game {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-content-center {
  align-content: center;
}

.p-2 {
  padding: 1em;
}